<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Noor e Islam</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Miqat uses your location to calculate accurate prayer times and the Qibla direction.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Miqat saves your designed ayah images to your photo library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.miqat.notif.refresh</string>
	</array>
</dict>
</plist>